html,body  {
			    margin:0;
			    padding:0;
				background-color:white;
			}

.container  {
				height: 100vh;
				width: 100%;
				border: 1px;
				display: block;
			}

.header		{
				height: 120px;
				width: 100%;
				display: flex;
				position: fixed;
				z-index: 99;
				background-color: white;
				box-shadow: 1px 1px 1px lightgrey;
				flex-direction: column;
			}

.headerWrap {
				width: 100%;
				background-color: #f2f2f2;
				color: #db7578;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				padding-left: 12%;
				min-height: 40px;
				font-size: 14px;
	        }

.menu		{
				width: 100%;
				display: flex;
				padding: 0 10%;
				box-sizing: border-box;
				justify-content: space-between;
				height: 100%;
			}
	
.menu a     {
		        color: #f2f2f2;
    		}

.menu a:hover
			{
		        color: black;
            }
	
.logo		{
				position: relative;
				width: 35%;
				height: 100%;
			}

.image_logo {
				width: 170px;
				height: 170px;
				position: absolute;
				top: -45px;
			}

.footer     {
				height: 5vh;
				width: 97.8%;
				border:1px solid #efefef ;
				display: block;
				margin-top:px;
				position:absolute;
				right: 0;
				bottom: 0;
				left: 0;
				padding: 1rem;
				background-color:#efefef;
				text-align: center;
				overflow: hidden;
    		}

.ftr        {
				background-color: white;
				text-align: center;
				position: fixed;
				bottom: 0;
				width: 100%;
				z-index: 9999999999;
				height: 50px;
				left:0;
				margin: 7px;

			}

.footerPadder
			{
				background-color: white;
				text-align: center;
				padding: 1px;
				position: fixed;
				bottom: 0;
				width: 100%;
				z-index: 9999999999;
				height: 50px;

			}

.headerLink {
				width: auto;
				font-size: 25px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				padding: 0 5%;
				box-sizing: border-box;
				background: #fafafa;
		    }

.headerLink.selected
			{
		    	background:#483e3e8f;
		    	color:white;
    		}

.headerLink:hover
			{
    	        background:#483e3e8f;
    		}

.headerLink.selected a,.headerLink:hover a
			{
    			color:white !important;
    		}

.dropdown 	{
			    position: relative;
			    width: 70px;	
			    display: none;
			}

.dropdown-content 
			{
  				 position: absolute;
			    background-color:black;
			    min-width: 160px;
			    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			    z-index: 1;
			    font-size: 10px;
			    display: none;
			}

.dropdown-content a 
			{
			    color: black;
			    padding: 12px 16px;
			    text-decoration: none;
			    display: block;
			    display: none;
			}

.dropdown-content a:hover
		    {
				background-color: #ddd;
				display: none;
			}

.dropdown:hover .dropdown-content 
			{
			    display: block;
			    display: none;
			}

.dropdown:hover .dropbtn 
			{
			    background-color: #0099ff;
			    display: none;
			}

.menu_icon	{
			    width: 25px;
			    height: 3px;
			    background-color: black;
			    margin: 5px 0;
			    margin-left: 70px;
			    display: none;
    		}

.icon_white	{
			    width: 35px;
			    height: 5px;
			    background-color: white;
			    margin: 6px 0;
			   margin-bottom: 30px;
			   display: none;
			}

.display:   {
				display: none;
			}

.p          {
				font-size: 15px;
				text-align: center; 
				vertical-align: middle; 
            }

.emails     {
				color:#aaabab;
				text-decoration: none; 
				font-size: 10.5px;
			}





	























   