
    .body{
		width: 80%;
		border: 1px;
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 120px;
		
    }
    .body_image{
		height: 180vh;
		width: 100%;
		border: 2px;
		position: relative;
		top: 0;
		left: 0;
    }
    .body_image1{
		height: 400px;
		width: 60%;
		position: absolute;
		top: 50px;
		left: 0;
		right: 0;
		margin: auto;
    }
	.absTextWrap{
		position: absolute;
		top: -225px;
		z-index: 9;
		width: 100%;
		height: 100%;
		left: 0;
		right: -26px;
		margin: auto;
		color:#483e3e;
	}

	@font-face {
		    	font-family: myFirstFont;
		    	src: url(MOD20_0.TTF);

	}

	.High {
			   font-family: myFirstFont;
			   font-size: 27px;
			   z-index: 1;
			   text-align: center;
			   position: absolute;
			   top: 375px;
		       right: 535px;
		       text-shadow: 4px 4px 8px white;

			}

	.plastic{
			   font-family: myFirstFont;
			   font-size: 80px;
			   z-index: 1;
			   text-align: center;
			   position: absolute;
			   top: 390px;
		       right: 465px;
		       text-shadow: 4px 4px 8px white;

			}

	.moulds{
			   font-family: myFirstFont;
			   font-size: 80px;
			   z-index: 1;
			   text-align: center;
			   position: absolute;
			   top: 450px;
		       right: 400px;
		       text-shadow: 4px 4px 8px white;

			}

	.at{
			   font-family: myFirstFont;
			   font-size: 30px;
			   z-index: 1;
			   text-align: center;
			   position: absolute;
			   top: 520px;
		       right: 380px;
		       text-shadow: 4px 4px 8px white;

			}
	.tech{
		font-family: regular;
		font-size: 18px;
		z-index: 1;
		text-align: left;
		position: absolute;
		top: 500px;
		right: 120px;
		text-shadow: 4px 4px 8px white;
		display: inline-block;
		left: 80px;
		width: 90%;
		color:#483e3e;
		line-height:30px;
	}
	.tech1{
		font-family: regular;
		font-size: 18px;
		z-index: 1;
		text-align: left;
		text-shadow: 4px 4px 8px white;
		width: 90%;
		top: 870px;
		position: absolute;
		padding: 5%;
		box-sizing: border-box;
		line-height:30px;
		color:#483e3e;
	}
	@font-face {
			    font-family:roboto;
			    src: url(Roboto-Black_1.ttf);
			}
	@font-face {
			    font-family:regular;
			    src: url(Roboto-Regular_2.ttf);
			}
	.body_image3{
		height: 30vh;
		width: 95%;
		position:absolute;
		top: 650px;
	}