@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
  .body {
          width: inherit;
          padding-right: 0%;
          padding-left: 0%;
          height: 80px;
        }

  .High {
          font-family: myFirstFont;
          font-size:0.8em;
          z-index: 1;
          text-align: center;
          position: absolute;
          top: 315px;
          text-align: center;
          left: 100px;
          text-shadow: 4px 4px 8px white;
          white-space: nowrap;
        }

  .plastic
        {
          font-family: myFirstFont;
          font-size: 1.9em;
          z-index: 1;
          text-align: center;
          position: absolute;
          top: 322px;
          left: 100px;
          text-shadow: 4px 4px 8px white;
        }

  .moulds
        {
          font-family: myFirstFont;
          font-size: 1.9em;
          z-index: 1;
          text-align: center;
          position: absolute;
          top: 345px;
          left: 120px;
          text-shadow: 4px 4px 8px white;
        }

  .at   {
          font-family: myFirstFont;
          font-size: 0.8em;
          z-index: 1;
          text-align: center;
          position: absolute;
          top: 369px;
          left: 127px;
          text-shadow: 4px 4px 8px white;
          white-space: nowrap;
        }


  .dropdown 
        {
          position: relative;
          display: inline-block;
          width: 70px;
        }

  .dropdown-content 
        {
          position: absolute;
          background-color:black;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }

  .dropdown-content a 
        {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

  .dropdown-content a:hover ,.dropdown-content a:active
        { 
          background-color: #ddd ;
          display: block;
        }

  .dropdown:hover .dropdown-content ,.dropdown:active .dropdown-content 
        {
          display:block;
        }

  .dropdown:hover .dropbtn,.dropdown:active .dropbtn 
        {
          background-color: #0099ff;
        }
  .icon_white
        {
          width: 35px;
          height: 5px;
          background-color: white;
          margin: 6px 0;
          margin-bottom: 30px;
          display:block;
        }

  .menu {
          width: 100%;
          display: flex;
          padding: 0 10%;
          box-sizing: border-box;
          justify-content: space-between;
          height: 100%;
          vertical-align:middle;
        }
  
  .menu a
        {
          color: #f2f2f2;
        }

  .menu a:hover,.menu a:active
        {
          color: black;
        }
  
  .logo {
          position: relative;
          width: 35%;
          height: 100%;
        }
  .image_logo
        {
          width: 170px;
          height: 170px;
          position: absolute;
          top: -45px;
          margin-left: 70px;
        }

  .headerLink
        {
          width: auto;
          font-size: 25px;
          display: none;
          align-items: center;
          justify-content: center;
          padding: 0 5%;
          box-sizing: border-box;
          background: #fafafa;
        }

  .headerLink.selected
        {
          color:white;
          display: none;
        }

  .headerLink:hover,.headerLink:active
        {
          background:#483e3e8f;
          display: none;
        }

  .headerLink.selected a,.headerLink:hover a,.headerLink:active a
        {
          color:white !important;
          display: none;
        }

  .p    {
          font-size: 12px;
          text-align: center; 
          vertical-align: middle; 
          display: block;
        }

  .ftr  {
          background-color: white;
          text-align: center;
          position: fixed;
          bottom: 0;
          width: 100%;
          z-index: 9999999999;
          left:0;
          margin: 0px;
          display: block;
          height: auto;
      }
  .footerPadder
      {
        background-color: white;
        text-align: center;
        padding: 1px;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 9999999999;
        height: 6px;

      }


  .tech
      {
          font-family: regular;
          font-size: 12px;
          z-index: 1;
          text-align: left;
          position: absolute;
          top: 350px;
          text-shadow: 4px 4px 8px white;
          display: inline-block;
          left: 20px;
          width: 90%;
          color:#483e3e;
          line-height:23px;
        }

  .tech1{
          font-family: regular;
          font-size: 12px;
          z-index: 1;
          text-align: left;
          text-shadow: 4px 4px 8px white;
          width: 100%;
          top: 620px;
          position: absolute;
          box-sizing: border-box;
          line-height: 20px;
          color: #483e3e;
          padding-left: 10%;
          padding-right: 5%;
          padding-top: 5%;
          left: -18px;
          margin-bottom:50px;
        }
  .headerWrap 
        {
          width: 100%;
          background-color: #f2f2f2;
          color: #db7578;
          display: flex;
          align-items: left;
          justify-content: flex-start;
          padding-left: 4%;
          min-height: 25px;
          font-size: 11px;

        }
  .emails     
        {
          color:#aaabab;
          text-decoration: none; 
          font-size: 9px;

        }

  .header   
        {
          height: 90px;
          width: 100%;
          display: flex;
          position: fixed;
          z-index: 99;
          background-color: white;
          box-shadow: 1px 1px 1px lightgrey;
          flex-direction: column;
        }
  .logo   
        {
          position: relative;
          width: 35%;
          height: 50;
        }

  .image_logo 
      {
        width: 145px;
        height: 145px;
        position: absolute;
        top: -40px;
        margin-left: 65px;
      }
  .menu_icon
      {
          width: 20px;
          height: 2px;
          background-color: black;
          margin: 5px 0;
          margin-left: 70px;
          display: block;
      }
  .absTextWrap
      {
          position: absolute;
          top: -225px;
          z-index: 9;
          width: 100%;
          height: 100%;
          left: 0;
          right: 0px;
          margin: auto;
          color:#483e3e;
      }
  .body_image
      {
          height: 880px;
          width: 100%;
          border: 2px;
          position: relative;
          top:-30px;
          left: 0;
      }
  .body_image1
      {
          height: 300px;
          width: 75%;
          position: absolute;
          top: 2px;
          left: 0;
          right: 0;
          margin: auto;
      }
  
  .body_image3
      {
          height: 18vh;
          width: 95%;
          position:absolute;
          top: 500px;
          left: 0px;
      }


    
       

  }

  

 

 

 






